# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/App.js
src/App.css
src/App.test.js
src/index.css
src/index.js
src/logo.svg
src/reportWebVitals.js
src/setupTests.js
src/audio/88midconga.wav
src/audio/606bass.wav
src/audio/606chat.wav
src/audio/606cymb.wav
src/audio/606htom.wav
src/audio/606ltom.wav
src/audio/606mhat.wav
src/audio/606ohat.wav
src/audio/606snar.wav
src/audio/808cl_hat.wav
src/audio/808clap.wav
src/audio/808cowbell.wav
src/audio/808crash.wav
src/audio/808cymbal2.WAV
src/audio/808highconga.wav
src/audio/808hightom.wav
src/audio/808hihat1.WAV
src/audio/808hihat2.WAV
src/audio/808kick.wav
src/audio/808kick2.WAV
src/audio/808longkick.wav
src/audio/808lowconga.wav
src/audio/808lowtom.wav
src/audio/808maraca.wav
src/audio/808midtom.wav
src/audio/808op_hat.wav
src/audio/808openhihat.WAV
src/audio/808rimshot.wav
src/audio/808snare.wav
src/audio/808snare2.wav
src/audio/808wood.wav
src/audio/BD7575.WAV
src/audio/Bt0a0a7.wav
src/audio/Bt0aad0.wav
src/audio/Bt7a0da.wav
src/audio/Btaaada.wav
src/audio/CB.WAV
src/audio/CH.WAV
src/audio/CL.WAV
src/audio/CP.WAV
src/audio/CY0000.WAV
src/audio/CY0010.WAV
src/audio/CY0025.WAV
src/audio/CY0050.WAV
src/audio/CY0075.WAV
src/audio/CY1000.WAV
src/audio/CY1010.WAV
src/audio/CY1025.WAV
src/audio/CY1050.WAV
src/audio/CY1075.WAV
src/audio/CY2500.WAV
src/audio/CY2510.WAV
src/audio/CY2525.WAV
src/audio/CY2550.WAV
src/audio/CY2575.WAV
src/audio/CY5000.WAV
src/audio/CY5010.WAV
src/audio/CY5025.WAV
src/audio/CY5050.WAV
src/audio/CY5075.WAV
src/audio/CY7500.WAV
src/audio/CY7510.WAV
src/audio/CY7525.WAV
src/audio/CY7550.WAV
src/audio/CY7575.WAV
src/audio/F_TOM20P_3.WAV
src/audio/H_TOM10_1.WAV
src/audio/H_TOM10_2.WAV
src/audio/H_TOM10C_1.WAV
src/audio/H_TOM10C_2.WAV
src/audio/HC00.WAV
src/audio/HC10.WAV
src/audio/HC25.WAV
src/audio/HC50.WAV
src/audio/HC75.WAV
src/audio/HT00.WAV
src/audio/HT10.WAV
src/audio/HT25.WAV
src/audio/HT50.WAV
src/audio/HT75.WAV
src/audio/Johnson.wav
src/audio/L_TOM15_1.WAV
src/audio/L_TOM15C_1.WAV
src/audio/L_TOM15C_2.WAV
src/audio/M_TOM12_1.WAV
src/audio/M_TOM12_2.WAV
src/audio/M_TOM12C_1.WAV
src/audio/M_TOM12C_3.WAV
src/audio/MA.WAV
src/audio/MC00.WAV
src/audio/MC10.WAV
src/audio/MC25.WAV
src/audio/MC50.WAV
src/audio/MC75.WAV
src/audio/MIX3_HTOM.WAV
src/audio/MIX3_MTOM.WAV
src/audio/MT00.WAV
src/audio/MT10.WAV
src/audio/MT25.WAV
src/audio/MT50.WAV
src/audio/MT75.WAV
src/audio/OH00.WAV
src/audio/OH10.WAV
src/audio/OH25.WAV
src/audio/OH50.WAV
src/audio/OH75.WAV
src/audio/pop.wav
src/audio/RL_N_TOMF.WAV
src/audio/RL_N_TOMH.WAV
src/audio/RL_N_TOML.WAV
src/audio/RL_N_TOMM.WAV
src/audio/RS.WAV
src/audio/SD0000.WAV
src/audio/SD0010.WAV
src/audio/SD0025.WAV
src/audio/SD0050.WAV
src/audio/SD0075.WAV
src/audio/SD1000.WAV
src/audio/SD1010.WAV
src/audio/SD1025.WAV
src/audio/SD1050.WAV
src/audio/SD1075.WAV
src/audio/SD2500.WAV
src/audio/SD2510.WAV
src/audio/SD2525.WAV
src/audio/SD2550.WAV
src/audio/SD2575.WAV
src/audio/SD5000.WAV
src/audio/SD5010.WAV
src/audio/SD5025.WAV
src/audio/SD5050.WAV
src/audio/SD5075.WAV
src/audio/SD7500.WAV
src/audio/SD7510.WAV
src/audio/SD7525.WAV
src/audio/SD7550.WAV
src/audio/SD7575.WAV
src/audio/TR808BD.wav
src/audio/TR808CB.wav
src/audio/TR808CH.wav
src/audio/TR808CL.wav
src/audio/TR808CP.wav
src/audio/TR808CY.wav
src/audio/TR808HC.wav
src/audio/TR808HT.wav
src/audio/TR808LC.wav
src/audio/TR808LT.wav
src/audio/TR808MA.wav
src/audio/TR808MC.wav
src/audio/TR808MT.wav
src/audio/TR808N1.wav
src/audio/TR808N2.wav
src/audio/TR808N3.wav
src/audio/TR808N4.wav
src/audio/TR808OH.wav
src/audio/TR808RS.wav
src/audio/TR808SD1.wav
src/audio/TR808SD2.wav
src/audio/TR808SD3.wav
src/audio/TR808SD4.wav
src/audio/TR808SD5.wav
src/audio/808cymbal2/808cymbal2.WAV
src/audio/808hihat1/808hihat1.WAV
src/audio/808hihat2/808hihat2.WAV
src/audio/808kick/808kick.WAV
src/audio/808openhihat/808openhihat.WAV
src/audio/Kick1/Bt0a0a7.wav
src/audio/Kick2/Bt0aad0.wav
src/audio/Kick3/Bt7a0da.wav
src/audio/Kick4/Btaaada.wav
src/comp/click.mp3
src/comp/click2.wav
src/comp/hhd1hh09.wav
src/comp/hhd1hh12.wav
src/comp/hhd1hh14.wav
src/comp/hhd1hh16.wav
src/comp/hi_c_06e.wav
src/comp/hi_c_06h.wav
src/comp/hi_o_06e.wav
src/comp/ListItems.css
src/comp/ListItems.js
src/comp/pro.js
src/comp/Rimsd1.wav
src/comp/Shake32j.wav
src/comp/snar_07a.wav
src/comp/snar_07b.wav
src/comp/snar_07y.wav
src/comp/tr hrk bd 01 a.wav
src/comp/tr hrk bd 02 a.wav
src/comp/tr hrk bd 03 a.wav
src/comp/tr hrk bd 10 a.wav
src/comp/tr hrk bd 13 a.wav
src/comp/tr hrk bd 15 a.wav
src/comp/tr hrk scratch 01 a.wav
src/comp/tr hrk sn 02 a.wav
src/comp/tr hrk sn 04 a.wav
public/App.js
